In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel("BasedeDados.xlsx")

In [4]:
def descricao_servico(df):
    df_temp = []
    for linha in range(len(df)):
        if (df['SITUACAO_OSM'][linha] == "FECHADA") and (df['AVARIA'][linha] != "FUNCIONAMENTO ANORMAL DO EQUIPAMENTO"):
            df_temp.append(df['AVARIA'][linha])
        else:
            descricao = df['DESCR_SERVICO'][linha].replace(",,", ",").replace(f'({df["FORMACAO"][linha]})', '').replace(df["TREM"][linha], "").replace("REPARO DA ANORMALIDADE DO EQUIPAMENTO - ", "")
            df_temp.append(descricao)
    return df_temp

def frota(df):
    df.loc[df['GRUPO_SISTEMA'].str.contains("TRENS SÉRIE "), 'GRUPO SISTEMA'] = ""
    return df['GRUPO_SISTEMA']

model_df = {
    'OSM': df['OSM'],
    'FROTA': df['GRUPO_SISTEMA'].str[-4:],
    'TREM': df['TREM'],
    'CARRO AVARIADO': df['CARRO_AVARIADO'],
    'SITUAÇÃO OSM': df['SITUACAO_OSM'],
    'DATA E HOTA': pd.to_datetime(df['DATAHORA_OSM'], format='%d/%m/%Y %H:%M'),
    'OCORRÊNCIA': df['NR_OCORRENCIA'],
    'SISTEMA': df['SISTEMA'],
    'DESCRIÇÃO DA ABERTURA': descricao_servico(df),
    'DESCRIÇÃO DO FECHAMENTO': df['ATUACAO_COMPLEMENTO']
}

In [5]:
model_df = pd.DataFrame(model_df)

In [6]:
dim_frota = model_df['FROTA'].drop_duplicates().astype(int).sort_values()

In [9]:
display(pd.DataFrame(dim_frota).reset_index(drop=True))

   FROTA
0   2000
1   2070
2   2500
3   7500
4   8000
5   8500
6   9000
7   9500